body, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, .p {
  font-family: Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding-top: 25px;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 54pt;
}

.blockquote {
  font-size: 18pt;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 32pt;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22pt;
}

.station-subheading {
  font-size: 14pt;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

p, footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.img-responsive {
  width: 100%;
}

.col-sm-4 {
  padding-top: 25px;
  padding-right: 45px;
  /*padding-left: 0px;*/
  /*padding-right: 25px;*/
}

